{% load static %}

<div class="container" id ="dropOffLocation">
    <button type="submit" class="return-button" id ="return2">
        Return <span class="arrow">→</span>
    </button>
    <h1>Select Your Drop Off Location</h1>
    <div class="buttons-container">
        <div class="button" id ="dropoff_south">
            <img src="{% static 'challenge/icons/card.png'%}" alt="CashlessPayment Icon">
            <span class="button-text"> Location 1 <br> <h3>South Station</h3> </span>
        </div>
        
        <div class="button" id ="dropoff_feu">
            <img src="{% static 'challenge/icons/card.png'%}" alt="Cash Payment Icon">
            <span class="button-text"> Location 2<br> <h3>FEU Alabang</h3> </span>
        </div>
        <div class="button" id = "dropoff_festi">
            <img src="{% static 'challenge/icons/card.png'%}" alt="Reload Card Icon">
            <span class="button-text"> Location 3<br> <h3>Festival</span>
        </div>
        <div class="button" id = "dropoff_newZealand">    
            <img src="{% static 'challenge/icons/card.png'%}" alt="Check Balance Icon">
            <span class="button-text"> Location 4<br> <h3>New Zealand</span>
        </div>
    </div>
    <footer>
        Developed by RRSA | All Rights Reserved 2024
    </footer>
</div>

